<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>

<body>
<header>
        <div class="contenedor1">
            <nav class="navbar navbar-expand-sm bg-light justify-content-center">
                <ul class="navbar-nav">
                    <li class="navbar-item"><a href="../index.html" style="text-decoration: none; color: black;">Inicio</a></li>
                    <li class="navbar-item"><a  href="galeria.html" style="text-decoration: none; color: black;">Galeria</a></li>
                    <li class="navbar-item"><a class="active" href="tablas.html" style="text-decoration: none; color: black;">Tablas</a></li>
                    <li class="navbar-item"><a  href="listas.html" style="text-decoration: none; color: black;">Listas</a></li>
                    <li class="navbar-item"><a href="formulario.html" style="text-decoration: none; color: black;">Formularios</a></li>
                    <li class="navbar-item"><a href="https://www.google.com/" style="text-decoration: none; color: black;">Google </a></li>
                </ul>
            </nav>
        </div>
    </header>
<body>
    <main>
        <section>
            <form action="Link" method="post" target="_blank">
                <fieldset>
                    <legend>Datos personales</legend>
                <label for="firstname">Nombre: </label>
                <input size="20" type="text" name="firstname" id="firstname" placeholder="Ingrese nombre" required> <br> <br>
                <label for="surname">Apellido: </label>
                <input size="20" type="text" name="surname" id="surname" placeholder="Ingrese Apellido" required> <br> <br>
                <label for="age">Edad: </label>
                <input type="number" name="age" id="age"> <br> <br>
                <label for="birthday">Fecha de nacimiento</label>
                <input type="date" id="birthday" name="birthday">
                <legend>Seleccione su genero</legend> 
                <select name="sexo" id="sex">
                    <option>M</option>
                    <option>F</option>
                    <option>Other</option>
                </select> <br> <br>
                <h3>Radio</h3>
                <input type="radio" name="opcion" value="1">App web 
                <input type="radio" name="opcion" value="2">Analisis de datos
                <input type="radio" name="opcion" value="3">Desarrollo de jueguito
                <h3>Checkbox</h3>
                <input type="checkbox" name="opcion" value="1">HTML
                <input type="checkbox" name="opcion" value="2">CSS
                <input type="checkbox" name="opcion" value="3">JS
                </fieldset>
                <button input type="submit" value="Enviar datos">Enviar</button>
                <button input type="submit" value="Enviar datos"> Borrar</button>
                
                
            </form>
        </section>
    </main>
</body>
</html>