<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>

<body>
<header>
        <div class="contenedor1">
            <nav class="navbar navbar-expand-sm bg-light justify-content-center">
                <ul class="navbar-nav">
                    <li class="navbar-item"><a href="../index.html" style="text-decoration: none; color: black;">Inicio</a></li>
                    <li class="navbar-item"><a class="active" href="galeria.html" style="text-decoration: none; color: black;">Galeria</a></li>
                    <li class="navbar-item"><a href="tablas.html" style="text-decoration: none; color: black;">Tablas</a></li>
                    <li class="navbar-item"><a href="listas.html" style="text-decoration: none; color: black;">Listas</a></li>
                    <li class="navbar-item"><a href="formulario.html" style="text-decoration: none; color: black;">Formularios</a></li>
                    <li class="navbar-item"><a href="https://www.google.com/" style="text-decoration: none; color: black;">Google </a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section>
            <article>
                <a href="#footer" style="text-decoration: none; color: black;"><b>Ir al footer</b></a>
                <h2>Imagen wow wotlk</h2>
                <p>Es una imagen épica del señor Artas el Rey Exánime</p>
                <a href="./img/images (1).jpg" style="text-decoration: none; color: black;" target="_blank"> <b>Ir a la
                        imagen</b< /a> <br>
                        <a href="./img/images (1).jpg" style="text-decoration: none; color: black;" download>Descargar
                            Imagen JPG</a>

            </article>
        </section>
        <section>
            <img src="./img/images.jpg" height="1080px" alt="">
        </section>
    </main>

    <footer id="footer">Desarrollado por Tomás Gonzalez y Lucio Brandoni</footer>
</body>

</html>