<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <a href="/index.html" style="text-decoration: none; color: black;">Inicio</a>
        <a href="galeria.html" style="text-decoration: none; color: black;">Galeria</a>
        <a href="tablas.html" style="text-decoration: none; color: black;">Tablas</a>
        <a href="listas.html" style="text-decoration: none; color: black;">Listas</a>
         <a href="formulario.html" style="text-decoration: none; color: black;">Formulario</a>
        <a href="https://www.google.com/" style="text-decoration: none; color: black;">Google </a>
    </header>
    <main>
        <h3>Clases</h3>
        <ul>
            <li>Mago</li>
            <li>Picaro</li>
            <li>Guerrero</li>
            <li>Brujo</li>
        </ul>
        <h3>Guias</h3>
        <ol>
            <li>Guia de nivelacion</li>
            <li>Guia de profeciones</li>
            <li>Rotacion de poderes y talentos</li>
            </ol>
            <h3>Dependientes</h3>
            <ul>
                <li>Personajes</li>
                <ul>
                    <li>Faccion</li>
                    <ul>
                        <li>Clases</li>
                    </ul>
            
                </ul>

                
            </ul>
            <h3>Definicion</h3>
            <p><b>Profesiones</b></p>
        <dl>
            <dt>Principales</dt>
            <dd>Herreria</dd>
            <dd>Ingeniería</dd>
            <dt>Secundarias</dt>
            <dd>Pesca</dd>
            <dd>Cocina</dd>
        </dl>
        

    </main>
    <footer></footer>
</body>

</html>