<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>

<body>
<header>
        <div class="contenedor1">
            <nav class="navbar navbar-expand-sm bg-light justify-content-center">
                <ul class="navbar-nav">
                    <li class="navbar-item"><a href="../index.html" style="text-decoration: none; color: black;">Inicio</a></li>
                    <li class="navbar-item"><a  href="galeria.html" style="text-decoration: none; color: black;">Galeria</a></li>
                    <li class="navbar-item"><a class="active" href="tablas.html" style="text-decoration: none; color: black;">Tablas</a></li>
                    <li class="navbar-item"><a  href="listas.html" style="text-decoration: none; color: black;">Listas</a></li>
                    <li class="navbar-item"><a href="formulario.html" style="text-decoration: none; color: black;">Formularios</a></li>
                    <li class="navbar-item"><a href="https://www.google.com/" style="text-decoration: none; color: black;">Google </a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <section>
            <article>
                <audio src="./audio/voz-grave.mp3" preload controls></audio>
            </article>
            <article>
                <video src="./video/video-wow.mp4"controls poster autoplay muted ="300" height=""></video>
            </article>
        </section>
        <section>
            <article><iframe width="300" height="250" src="https://www.youtube.com/embed/vlVSJ0AvZe0?si=JEnc5ypukmo9_cgy" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </article>
            <article><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13391.879774346962!2d-60.63601327695313!3d-32.95180294100368!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95b7ab1dc9b6d36f%3A0x97b9e9584d94d851!2sMonumento%20Hist%C3%B3rico%20Nacional%20a%20la%20Bandera!5e0!3m2!1ses!2sar!4v1780560604671!5m2!1ses!2sar" width="300" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="strict-origin-when-cross-origin"></iframe></article>
        </section>
        <section>
            <table>
                <tr>
                    <th>alimento</th>
                    <th>regenera</th>
                </tr>
                <tr>
                    <td>manzana</td>
                    <td>50hp</td>
                </tr>
                <tr>
                    <td>carne de res</td>
                    <td>25hp</td>
                </tr>
            </table>
        </section>
    </main>
    <footer></footer>
</body>
</html>